
@{
    ViewBag.view = "education";
}

<h1>Education</h1>
<h4>
    <table border="1">
        <tr>
            <th>Degree Name</th>
            <th>Department/Group</th>
            <th>Institution</th>
            <th>GPA/CGPA</th>
            <th>Passing Year</th>
        </tr>
        <tr>
            <td>BSc.</td>
            <td>CSE</td>
            <td>American International University-Bangladesh</td>
            <td>3.57(Current)</td>
            <td>2023</td>
        </tr>
        <tr>
            <td>HSC</td>
            <td>Science</td>
            <td>Khulna Public College</td>
            <td>4.67</td>
            <td>2018</td>
        </tr>
        <tr>
            <td>SSC</td>
            <td>Science</td>
            <td>Khulna Public College</td>
            <td>5.00</td>
            <td>2016</td>
        </tr>
    </table>
</h4>
<h3><a href="/Tusher/HomePage">Back to Home</a></h3>

