
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="cuNuv">
        <div class="single-navs">

            <a href="/Tusher/education">Education</a>
            <a href="/Tusher/projects">Projects</a>
            <a href="/Tusher/references">References</a>


        </div>
    </header>
    <img class="center" src="https://avatars.githubusercontent.com/u/85401497?v=4" width="200" height="200" />
    <p style="font-family: Lucida Bright; font-size: 20px">
        Hi I am S M Tusher Mustakim from American International University-Bangladesh
        Currently I am studying at 11th Semester in Computer Science and Engineering program.<br>
        I am doing my Advance .Net course under Tanvir Ahmed sir. This is my my first project in ASP .NET framework.<br />
        I have done my OOP1 and OOP2 in sequentially in 4th and 7th Semester under MOHAIMEN- BIN- NOOR and FAHMIDA ALAM. It will be great experience 
        for me to learn ASP .NET frame in C# language.
    </p>
    
</body>
</html>

    
 

