
@{
    ViewBag.view = "projects";
}
<h1>Projects</h1>
<br />

<h2>OOP1</h2>
<h3>Bank Management System</h3>
<h4>Completed in 4th Semester</h4>
<h5><a href="https://github.com/smtusher007/Bank-Management">GitHub</a></h5>
<br />


<h2>OOP2</h2>
<h3>Market Management System</h3>
<h4>Completed in 7th Semester</h4>
<h5><a href="https://github.com/smtusher007/Market-Management-System">GitHub</a></h5>
<br />

<h2>Web Technologies</h2>
<h3>Agriculture Domain</h3>
<h4>Completed in 8th Semester</h4>
<h5><a href="https://github.com/smtusher007/Agriculture-Domain">GitHub</a></h5>
<br />

<h3><a href="/Tusher/HomePage">Back to Home</a></h3>
