
@{
    ViewBag.view="references";
}

<h1>References</h1><br />
<h2>Tanvir Ahmed</h2>
<h4>Lecturer , Computer Science</h4>
<h4>American International University-Bangladesh</h4>
<h5>
    Contact:<br />
    Email: tanvir.ahmed@aiub.edu<br />
    <a href="https://cs.aiub.edu/profile/tanvir.ahmed">More Info</a>
</h5><br />

<h2>MD Kishor Morol</h2>
<h4>Assistant Professor , Computer Science</h4>
<h4>American International University-Bangladesh</h4>
<h5>
    Contact:<br />
    Email: kishor@aiub.edu<br />
    <a href="https://cs.aiub.edu/profile/kishor">More Info</a>
</h5>


<h3><a href="/Tusher/HomePage">Back to Home</a></h3>
