
@{
    ViewBag.Title = "Cart";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-header">
                <h4 class="card-title">List of Products</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-stripped table-center table-hover datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Actions</th>
                                <th class="text-end">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var prduct in Model)
                            {
                                <tr>
                                    <td>@prduct.Id</td>
                                    <td>@prduct.Name</td>
                                    <td>@prduct.Price</td>
                                    <td class="text-end">
                                        <a href=""
                                           class="btn btn-sm btn-white text-success me-2">
                                            Remove form cart
                                        </a>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="/Buy/CheckOut"
                                       class="btn btn-sm btn-white text-success me-2">
                                        Make order
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



