
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="" method="post">
    <input type="email" name="Email" placeholder="Enter Your Email Address" />
    <br /><br />
    <input type="text" name="Password" placeholder="Enter Your Password" />
    <br /><br />
    <label for="Type">Type:</label>

    <select name="Type" id="Type">
        <option value=1>Employee</option>
        <option value=2>Restaurant</option>
    </select>
    <br /><br />
    <input class="btn btn-success" type="submit" name="submit" value="Login" />
</form>