
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>

<form action="" method="post">
    <input type="text" name="FName" class="form-control" placeholder="First Name" />
    <input type="text" name="LName" class="form-control" placeholder="Last Name" />
    <input type="email" name="email" class="form-control" placeholder="Email" />
    <input type="text" name="address" class="form-control" placeholder="Address" />
    <input type="submit" name="submit" class="btn btn-success" value="Submit" />
</form>